project:
  software: "[[ software ]]"

conda:
  # env name can still be jinja2-templated at deploy-time if you want
  env_name: "[[ conda_env_name ]]"  # e.g. "polaris_dev"
  channels:
    - conda-forge

env_vars:
  # Placeholder: env vars to export in the "load" script
  set: {}

jigsaw:
  # If true, build/install JIGSAW + JIGSAW-Python into the conda env
  enabled: false

  # Relative path in the target repo where JIGSAW-Python lives.
  # If this is a submodule, `mache deploy run` will initialize it.
  # If it is not, `mache deploy run` will clone it from the main JIGSAW-Python
  # repo if missing.
  jigsaw_python_path: jigsaw-python
