#!/bin/bash

{{ env_lines }}

set -e

if [ -d {{ spack_path_q }} ]; then
  cd {{ spack_path_q }}
  git fetch origin
  git reset --hard origin/{{ branch }}
else
  git clone -b {{ branch_q }} {{ spack_repo_q }} {{ spack_path_q }}
  cd {{ spack_path_q }}
fi

source share/spack/setup-env.sh

spack_root={{ spack_path_q }}
env_name={{ env_name_q }}
env_dir="$spack_root/var/spack/environments/$env_name"

{%- if mirror %}
spack mirror remove spack_mirror >& /dev/null || true
spack mirror add spack_mirror file://{{ mirror }}
{%- endif %}

if [ -e "$env_dir" ]; then
  spack env remove -y "$env_name" >& /dev/null
  echo "recreating environment: {{ env_name }}"
else
  echo "creating new environment: {{ env_name }}"
fi
spack env create "$env_name" {{ yaml_path_q }}
spack env activate "$env_name"
spack install

{%- if custom_spack %}
{{ custom_spack }}
{%- endif %}
