# Options related to deploying an e3sm-unified conda environment on supported
# machines
[e3sm_unified]

# the unix group for permissions for the e3sm-unified conda environment
group = E3SMinput

# the compiler set to use for system libraries
compiler = oneapi-ifx

# the system MPI library
mpi = mpich

# the path to the directory where activation scripts, the base environment, and
# system libraries will be deployed
base_path = /lus/flare/projects/E3SMinput/soft/e3sm-unified

# whether to use E3SM modules for hdf5, netcdf-c, netcdf-fortran and pnetcdf
# (spack modules are used otherwise)
use_e3sm_hdf5_netcdf = True


# config options related to data needed by diagnostics software such as
# e3sm_diags and MPAS-Analysis
[diagnostics]

# The base path to the diagnostics directory
base_path = /lus/flare/projects/E3SMinput/diagnostics

# the unix group for permissions for diagnostics
group = E3SMinput


# The parallel section describes options related to running jobs in parallel
[parallel]

# parallel system of execution: slurm, pbs or single_node
system = pbs

# account for running diagnostics jobs
account = E3SM_Dec

# queues (default is the first)
queues = prod, debug

# whether to use mpirun or srun to run a task
parallel_executable = mpiexec --label

# the flag to `parallel_executable` to specify the number of cpus per task
cpus_per_task_flag = --depth

# parallel options related to the oneapi-ifxgpu compiler
[parallel.oneapi_ifxgpu]

# cores per node
cores_per_node = 96

# gpus per node
gpus_per_node = 12

# the maximum number of MPI tasks per node
max_mpi_tasks_per_node = 12

# rank binding arguments
cpu_bind = list:1-8:9-16:17-24:25-32:33-40:41-48:53-60:61-68:69-76:77-84:85-92:93-100
gpu_bind = list:0.0:0.1:1.0:1.1:2.0:2.1:3.0:3.1:4.0:4.1:5.0:5.1
mem_bind = list:0:0:0:0:0:0:1:1:1:1:1:1


# parallel options related to the oneapi-ifx compiler
[parallel.oneapi_ifx]

# no gpus per node
gpus_per_node = 0

# cpu cores per node
cores_per_node  = 102

# the maximum number of MPI tasks per node
max_mpi_tasks_per_node = 102

# cpu binding arguments
cpu_bind = core


# config options related to synchronizing files
[sync]

# the full hostname of the machine
hostname = aurora.alcf.anl.gov


# Options related to machine discovery
[discovery]

# regular expression(s) used to identify this machine from its hostname
hostname_re = ^aurora, ^x\d{4}c\d{1}s\d{1}b0n0
