# Options related to deploying an e3sm-unified conda environment on supported
# machines
[e3sm_unified]

# the unix group for permissions for the e3sm-unified conda environment
group = cels

# the compiler set to use for system libraries
compiler = gnu

# the system MPI library
mpi = openmpi

# the path to the directory where activation scripts, the base environment, and
# system libraries will be deployed
base_path = /lcrc/soft/climate/e3sm-unified

# whether to use E3SM modules for hdf5, netcdf-c, netcdf-fortran and pnetcdf
# (spack modules are used otherwise)
use_e3sm_hdf5_netcdf = False


# config options related to data needed by diagnostics software such as
# e3sm_diags and MPAS-Analysis
[diagnostics]

# The base path to the diagnostics directory
base_path = /lcrc/group/e3sm/diagnostics

# the unix group for permissions for diagnostics
group = cels


# config options associated with web portals
[web_portal]

# The path to the base of the web portals
base_path = /lcrc/group/e3sm/public_html/diagnostic_output

# The base URL that corresponds to the base path
base_url = https://web.lcrc.anl.gov/public/e3sm/diagnostic_output


# The parallel section describes options related to running jobs in parallel
[parallel]

# parallel system of execution: slurm, pbs or single_node
system = slurm

# whether to use mpirun or srun to run a task
parallel_executable = srun

# cores per node on the machine
cores_per_node = 128

# available partition(s) (default is the first)
partitions = compute, debug, Shigh

# config options related to synchronizing files
[sync]

# the full hostname of the machine
hostname = chrysalis.lcrc.anl.gov

# public diagnostics directory
public_diags = /lcrc/group/e3sm/public_html/diagnostics

# private diagnostics directory
private_diags = /lcrc/group/e3sm/diagnostics_private


# Options related to machine discovery
[discovery]

# regular expression(s) used to identify this machine from its hostname
hostname_re = ^chrlogin, ^chr-\d{4}
