# Options related to deploying an e3sm-unified conda environment on supported
# machines
[e3sm_unified]

# the unix group for permissions for the e3sm-unified conda environment
group = users

# the compiler set to use for system libraries
compiler = gnu

# the system MPI library
mpi = openmpi

# the path to the directory where activation scripts, the base environment, and
# system libraries will be deployed
base_path = /share/apps/E3SM/conda_envs

# whether to use E3SM modules for hdf5, netcdf-c, netcdf-fortran and pnetcdf
# (spack modules are used otherwise)
use_e3sm_hdf5_netcdf = False


# config options related to data needed by diagnostics software such as
# e3sm_diags and MPAS-Analysis
[diagnostics]

# The base path to the diagnostics directory
base_path = /compyfs/diagnostics

# the unix group for permissions for diagnostics
group = users


# config options associated with web portals
[web_portal]

# The path to the base of the web portals
base_path = /compyfs/www

# The base URL that corresponds to the base path
base_url = https://compy-dtn.pnl.gov


# The parallel section describes options related to running jobs in parallel
[parallel]

# parallel system of execution: slurm, pbs or single_node
system = slurm

# whether to use mpirun or srun to run a task
parallel_executable = srun --mpi=pmi2

# cores per node on the machine
cores_per_node = 40

# account for running diagnostics jobs
account = e3sm

# available partition(s) (default is the first)
partitions = slurm

# quality of service (default is the first)
qos = regular


# config options related to synchronizing files
[sync]

# the full hostname of the machine
hostname = compy.pnl.gov


# Options related to machine discovery
[discovery]

# a regular expression used to identify this machine from its hostname
hostname_re = ^compy
