# The parallel section describes options related to running tasks in parallel
[parallel]

# the number of cores a user can use on a login node
login_cores = 4

# the number of gpus a user can use on a login node
login_gpus = 0
