[workspace]
name = "toyflow-dev"
channels = [
{%- for channel in pixi_channels %}
  "{{ channel }}"{%- if not loop.last %},{% endif %}
{%- endfor %}
]
platforms = ["{{ platform }}"]
channel-priority = "strict"

[dependencies]
python = "{{ python }}.*"
pip = "*"
pytest = "*"
setuptools = "*"
wheel = "*"
{%- if include_mache %}
mache = "=={{ mache }}"
{%- endif %}
