c_compiler:
- gcc
c_compiler_version:
- '14'
c_stdlib:
- sysroot
c_stdlib_version:
- '2.17'
channel_sources:
- conda-forge
cxx_compiler:
- gxx
cxx_compiler_version:
- '14'
libnetcdf:
- '4.10.0'
numpy:
- '2'
python:
- [[ python_variant ]]
python_impl:
- cpython
target_platform:
- linux-64
zip_keys:
- - c_compiler_version
  - cxx_compiler_version
